<div class="clearfix"></div>
<br>
<div class="row">
	<div class="columns large-12">
		<div class="alert-box alert"><h4 style="color:white;">The transaction was not completed.</h4></div>
	</div>
</div>