<div class="clearfix"></div>
<br>
<div class="row">
	<div class="columns large-12">
		<div class="alert-box success"><h4 style="color:white;">The transaction was completed successfully.</h4></div>
	</div>
</div>