<h5>Event Gallery</h5>
<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2 clearing-thumbs" data-clearing>
						<% if @gallery.empty? %>
						<li>
							<a><%= image_tag "190.png", class: 'th-no-hover lazyload' %></a>
						</li>
						<% else %>
						<% @gallery.each do |g| %>
						<li>
							<a href="<%= g.attachment %>"><%= image_tag g.attachment_url(:thumb), class: 'th-no-hover lazyload' %></a>
						</li>
						<% end %>
						<% end %>
					</ul>