<h5>Resources</h5>
<ul class="no-bullet change-color">
	<li><%= link_to "Blogs", resourcexes_path(:scope => 'blogs') %></li>
	<li><%= link_to "Articles", resourcexes_path %></li>
	<li><%= link_to "Templates", resourcexes_path(:scope => 'videos') %></li>
</ul>