<h5>Webinar</h5>
<div id="request-for-x">
	<a href="#" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="<%= new_request_path(_x: 'webinar', user: current_user) %>" class="button">Request for Webinar</a>
</div>