    <h4>Request For Animated Video</h4>
      <ul style="list-style-type:none;">
        <li>Name: <%= @name %></li>
        <li>Email: <%= @email %></li>
      </ul>
      <p>Follow the following link:</p>
      <a href="<%= @admin_link %>"><%= @admin_link %></a>
