    <h4>Book an appointment with Freelancer</h4>
      <p>Following user has requested to book an appointment with a Freelancer:</p>
      <a href="<%= @user_link %>"><%= @user_link %></a>
      <p>Freelancer</p>
      <a href="<%= @freelancer_link %>"><%= @freelancer_link %></a>
