<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Thank you for your interest to clock in for our weekly event. We will send you a confirmation of your attendance along with the event details within the next working day.
    </p>
    <p>
      Meanwhile you can visit our Social Media pages for staying connected with us:
    </p>
    <p>Facebook: <a href="www.facebook.com/clockb.bi">www.facebook.com/clockb.bi</a> <br>
     Twitter: <a href="www.twitter.com/clockb_bi">@clockb_bi</a> <br> 
	LinkedIn: <a href="www.linkedin.com/company/clock-b-business-innovations">www.linkedin.com/company/clock-b-business-innovations</a> </p>
	<p>Thank you again for your interest.</p>
    <p>Wishing booming success for your business/career,<br>
Clock b Business Innovations</p>
  </body>
</html>