<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Thank You,
    </p>
    <p>
      Your request for meeting has been submitted. We would get back to you within the next two working days. Meanwhile you can visit our Social Media pages for staying connected with us:
    </p>
    <p>Facebook: <a href="www.facebook.com/clockb.bi">www.facebook.com/clockb.bi</a> <br>
     Twitter: <a href="www.twitter.com/clockb_bi">@clockb_bi</a> <br> 
	LinkedIn: <a href="www.linkedin.com/company/clock-b-business-innovations">www.linkedin.com/company/clock-b-business-innovations</a> </p>
    <p>Wishing booming success for your business,<br>
Clock b Business Innovations</p>
  </body>
</html>