<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <br>
    <p>
      Thank You,
    </p>
    <p>You are now clocked for our service. From now, let us tailor the perfect services for your business.</p>
    <p>We are enthralled by you joining Clock b Business Innovations. And look forward to a lasting relationship.</p>
    <p>Meanwhile you can visit our Social Media pages for staying connected with us:</p>
    <p>Facebook: <a href="www.facebook.com/clockb.bi">www.facebook.com/clockb.bi</a> <br>
     Twitter: <a href="www.twitter.com/clockb_bi">@clockb_bi</a> <br> 
	LinkedIn: <a href="www.linkedin.com/company/clock-b-business-innovations">www.linkedin.com/company/clock-b-business-innovations</a> </p>
    <p>Wishing booming success for your business,<br>
Clock b Business Innovations</p>
  </body>
</html>