<h4>Contact Information</h4>
	      	<ul class="vcard">
			  <li class="fn subheader" style="font-size:large;">Clock b Business Innovations</li>
			  <li class="street-address">474 Aananda Bhairab Marg</li>
			  <li class="locality">Naxal-1, Kathmandu, Nepal</li>
			  <li class="phone">Tel: +977-01-4426 267/8</li>
			  <li class="email"></li>
			  <li class="social-media">
			  	<span data-tooltip aria-haspopup="true" class="has-tip" title="Email" style="border:none;cursor:none;">
			  			<a href="mailto:info@clockb.com"><i class="fi-mail" style="font-size:30px;margin-right:20px;"></i></a>
		  		</span>
			  	
			  	<span data-tooltip aria-haspopup="true" class="has-tip" title="Facebook" style="border:none;cursor:none;"><a href="https://www.facebook.com/clockb.bi "><i class="fi-social-facebook" style="font-size:30px;margin-right:20px;"></i></a></span>
			  	<span data-tooltip aria-haspopup="true" class="has-tip" title="Linkedin" style="border:none;cursor:none;"><a href="https://www.linkedin.com/company/clock-b-business-innovations"><i class="fi-social-linkedin" style="font-size:30px;margin-right:20px;"></i></a></span>
			  	<span data-tooltip aria-haspopup="true" class="has-tip" title="Twitter" style="border:none;cursor:none;"><a href="https://www.twitter.com/clockb_bi"><i class="fi-social-twitter" style="font-size:30px;margin-right:20px;"></i></a></span>
			  </li>
			</ul>
