
    <div class="row large-collapse medium-collapse small-collapse" style="margin-left:0px;">
    <div class="large-6 columns">
    <ul class="pricing-table low-padding" style="border-right:none; padding:0.3rem;">
      <li class="bullet-item" style="text-align: center;"><h6>Regular</h6></li>
      <li class="bullet-item">Profile access of companies and professionals (Limited)</li>
      <li class="bullet-item">See offer of our premium plan users</li>
      <li class="bullet-item show-for-large-up">Post your business requirement</li>
      <li class="bullet-item show-for-large-up">-</li>
      <li class="bullet-item show-for-large-up">-</li>
      <li class="bullet-item show-for-large-up">-</li>
      <li class="bullet-item show-for-large-up">-</li>
      <li class="bullet-item show-for-large-up">-</li>
      <li class="bullet-item show-for-large-up">-</li>
      <li class="bullet-item show-for-large-up">-</li>
      <li class="bullet-item"><a href="<%= new_request_path %>?_x=meeting&amp;_y=regular-package" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="true" class="button info tiny">Go Regular</a></li>
    </ul>
    </div>
    <div class="large-6 columns">

      <ul class="pricing-table low-padding" style="border-left:none;padding:0.3rem;">
        <li class="bullet-item" style="text-align: center;"><h6>Premium</h6></li>
        <li class="bullet-item">Profile access of companies and professionals (Full)&nbsp;&nbsp;</li>
        <li class="bullet-item">See offer of our premium plan users</li>
        <li class="bullet-item">Post your business requirement and offer services</li>
        <li class="bullet-item">Access to blogs/archives</li>
        <li class="bullet-item">Access to our webinar platform</li>
        <li class="bullet-item">Post an advertisement or offer</li>
        <li class="bullet-item">Add social media links</li>
        <li class="bullet-item">Request for meet ups with professionals</li>
        <li class="bullet-item">Schedule online meetings</li>
        <li class="bullet-item">Attend events online</li>
        <li class="bullet-item"><a href="<%= new_request_path %>?_x=meeting&amp;_y=premium-package" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="true" class="button info tiny">Go Premium</a></li>
      </ul>
    </div>
    </div>