
<!-- Size Classes: [small medium large xlarge expand] -->
<a href="#" data-reveal-id="myModal" class="button right">Request for <%= yield(:request_for) %></a>
<div id="myModal" class="reveal-modal small" data-reveal>
		  <p class="lead">Form</p>
		  
		  <%= form_for(Request.new) do |f| %>
		  <%= f.hidden_field :request_for, :value => yield(:request_for) %>
		  <%= f.text_field :request_by, :placeholder => 'Name' %>
		  <% end %>

		  <a class="close-reveal-modal">&#215;</a>
		</div>