<%= content_for :page_title, 'FAQs' %>


<div class="row">
  <div class="large-3 medium-3 columns width-finder bg-left hide-for-small-only" data-equalizer-watch>
  <div data-magellan-expedition="fixed" class="custom-magellan " data-options="destination_threshold:50;offset_by_height: false;threshold:0;fixed_top:0;throttle_delay:30;active_class:custom-active">
    <ul class="side-nav custom-side-nav">
      <li class="heading" style="color:#e3e3e3;">FAQs</li>
      <li class="divider"></li>
      <li data-magellan-arrival="general-and-services"><a href="#general-and-services">General &amp; Services</a></li>

      <li data-magellan-arrival="request-for-meeting"><a href="#request-for-meeting">Request For Meeting</a></li>
      <li data-magellan-arrival="careers"><a href="#careers">Careers</a></li>
      <li data-magellan-arrival="networking-and-events"><a href="#networking-and-events">Networking &amp; Events</a></li>
    </ul>
    </div>
  </div>
  <div class="large-9 medium-9 columns bg-right" style="padding-top:25px;" data-equalizer-watch>
     <a data-magellan-destination="general-and-services" name="general-and-services"></a>
    <h4>General &amp; Services</h4>
    <div class="panel">
            <ul class="no-bullet change-color text-justify">
              
              <li>Is Clock b Business Innovations for me?
                        <p style="margin-left:23px;">If you are someone who is planning to do a business or planning to grow your existing business and willing to be smartly directed towards your goals then, yes, Clock b Business Innovations is for you.</p>
              </li>
              <li>What will Clock b do for me?
                        <p style="margin-left:23px;">We only offer tailored solution. We believe each institution is unique to its core so, we understand your business and tailor up solutions that perfectly fit your interests.</p>
              </li>
              <li>Is the service very expensive? Is it for small businesses as well?
                        <p style="margin-left:23px;">We only quote our price once we’ve met you and your business. Our pricing depends upon your requirement and your company size. So, even if you are a SME or a large firm our services would fit within your budget.</p>
              </li>
    
             <li> How Clock b’s services serve my business’s interest?
                      <p style="margin-left:23px;"> We aren’t only about doing what we do best; we also learn what you do best, blend it together and provide unique alternatives for your business.</p>
             </li>

            </ul>
      </div>
<hr>
<a data-magellan-destination="request-for-meeting" name="request-for-meeting"></a>
      <h4>Request for Meeting</h4>
    <div class="panel">
            <ul class="no-bullet change-color text-justify">
              
              
              <li>What is request for meeting?
                            <p  style="margin-left:23px;">Request for meeting is an option for all our interested service seekers to allow us a chance to understand you better, personally. We would assess requirements when we meet so that we could tailor up services according to your need.</p>
              </li>

              <li>How do I make the request?
                            <p  style="margin-left:23px;">You can make a request by submitting our request for meeting form which is available on our Clock b and Services pages of our website. You could also call us at +977-01-4426 267/8. Or drop us an email at meetings@clockb.com </p>
                          </li>

             <li> Do I pay meeting fee?
                           <p  style="margin-left:23px;">No, you do not. It is free as you are allowing us your time to know you better.</p>
                         </li>

              <li>When would Clock b meet?
                            <p  style="margin-left:23px;">Once you have your request submitted, we would contact you within the next two working days.</p>
                          </li>

              <li>How would Clock b meet me?
                            <p  style="margin-left:23px;">Requests made by businesses or professionals within the Kathmandu Valley could either visit our office at 474 Aananda Bhairab Marg, Naxal-1, Kathmandu or we could come to your company address. Requests made from outside of the Valley or Country, the meetings would be scheduled by our webinar platform.</p>
                          </li>
             
            </ul>
      </div>
<hr>
<a data-magellan-destination="careers" name="careers"></a>
  <h4>Careers</h4>
<div class="panel">
        <ul class="no-bullet change-color text-justify">
          
          
          <li>Is Clock b the right company for my career?
                        <p  style="margin-left:23px;">If you aspire to be an entrepreneur some day or want to excel your career in the management background, then our match is perfect.</p>
          </li>

          <li>What happens in the Clock b Internship program?
                        <p  style="margin-left:23px;">Our Internship programs are especially tailored for undergraduate and postgraduate student of either management or any relevant background meeting our requirements. During the Internship program the Intern would learn about the complex world of business or industry. It is an opportunity for both Clock b and the intern to evolve and grow together.</p>
                      </li>

         <li> How do I apply?
                       <p  style="margin-left:23px;">When we have our job vacancy announced, you can either apply directly by our website’s career page or drop us an email at careers@clockb.com.</p>
                     </li>


          <li>What happens after I make the application?
                        <p  style="margin-left:23px;">Once your application is reviewed and accepted; we will shortlist the possible candidates. We will then send you an e-mail informing the result of your application.</p>
                      </li>
         
        </ul>
  </div>
  <hr>
  <a data-magellan-destination="networking-and-events" name="networking-and-events"></a>
    <h4>Networking &amp; Events</h4>
  <div class="panel">
          <ul class="no-bullet change-color text-justify">
            
            <li>What is Clock b networking package?
                          <p  style="margin-left:23px;">The value of building relationships and networking options is as important as ever. Our packages are built with our continuous efforts to maintain healthy relationship and grow your networks.</p>
            </li>

            <li>Who is it for?
                          <p  style="margin-left:23px;">It is for every businesses and every professionals.</p>
                        </li>

           <li> What do I get?
            
                         <p  style="margin-left:23px;">We have divided our networking package into two options. To know more about the packages please check our services page.</p>
                       </li>


            <li>What is a Webinar?
                          <p  style="margin-left:23px;">You will soon be able to clock in to our webinar service. Stay tuned.</p>

            </li>
            <li>How do I use Webinar?
              <p  style="margin-left:23px;">You will soon be able to clock in to our webinar service. Stay tuned.</p>
            </li>
            <li>What is Monday Morning Coffee Queries?
              <p  style="margin-left:23px;">For us, it’s a day when we get to meet bright new people with amazing business ideas. For you, it’s a day when you get to ask Clock b about starting a new business in Nepal.</p>
            </li>
            <li>Who is it for?
              <p  style="margin-left:23px;">
            This event is specially tailored for student aspiring to be an entrepreneur or for start-ups.</p>
            </li>
            <li>Do I pay for it?<p  style="margin-left:23px;">
                                    No, this event is free for all interested students and start-ups.</p></li>

            <li>How do I register?
                        <p  style="margin-left:23px;">You can either register directly from our website’s event page. Or you can contact us at +977-01- 4426 267/8. Or you can drop in a mail with your interest at events@clockb.com </p></li>

           <li> What is a main event?
                       <p  style="margin-left:23px;">Most of our main events are uniquely themed but one mission that remains constant is growing networks for your business or profession.</p></li>

           <li> Who is it for?
                       <p  style="margin-left:23px;">Our main events are designed to serve the networking needs of businesses of different industrial background and for professionals with expertise in various fields.</p></li>
          <li>Do I pay for it?
            <p  style="margin-left:23px;">Yes, this is a paid event. You can make your payments by contacting Clock b representatives via e-mail at payments@clockb.com or call us at +977-01-4426 267/8 or visit our office at 474 Aananda Bhairab Marg, Naxal-1, Kathmandu, Nepal.</p></li>

            <li>How do I register?
                         <p  style="margin-left:23px;">You can either register directly from our website’s event page. Or you can contact us at +977-01- 4426 267/8. Or you can drop in a mail with your interest at events@clockb.com</p></li> 

          </ul>
    </div>
    <hr>
      <%= render partial: 'layouts/side_footer' %>
</div>
</div>  

