<h6 class="subheader">About Clock b’s “Business Networking Hours”</h6>
<p>Clock b Business Innovations is introducing “Business Networking Hours” Event which is tailored for being an all out networking event. It is an event designed to celebrate togetherness, industry and people.</p>
<h6 class="subheader">Reasons for attending this Event</h6>
<p>“You are either Networking or You are Not-Working”</p>
<p>Moreover this networking event of ours is a “Platform”.</p>
<ul class="no-bullet change-color">
	<li>Platform for building professional connection</li>
	<li>Platform for providing mentoring</li>
	<li>Platform to clarify questions you might have</li>
	<li>Platform for promotion of interesting concepts, business, products, services and even yourselves</li>
	<li>Platform for speed networking</li>
	<li>Platform to meet your networking needs</li>
	<li>Platform where you could make yourselves heard</li>
</ul>
<p>The platform we are trying to set for you and your business gives marvelous reasons to attend. Business Networking Hours is for you and about you, so help us make you known.</p>

<h6 class="subheader">Why to Meet People?</h6>
<p>The truth in the real world is that, “We all learn from the PEOPLE and earn because of the PEOPLE”. So, abiding by the truth “You need to TURN to the PEOPLE”
</p>

<h6 class="subheader">Who is the Event is designed for?</h6>
<p>Employee or employer, NGOs or for-profit-organisation, Government or private institutions, Medical representatives or volunteer workers, designer or marketer, start-ups or large firms, everyone needs to know about everyone. So attend to know and get known. If you are working or starting soon, then we strongly recommend you to attend this event. Widen your networks, to strengthen your business and career.</p>

<h6 class="subheader">Clock b claimed “Never before seen in Nepal”, what is matchless about this event?</h6>
<p>Okay we aren’t saying that business networking event has been never done in Nepal. But what we are trying to say by this is, we have crafted most sessions in this event by ourselves. Clock b works for testing new ideas, we recommend you to come visit the event to know why this event is matchless. Meanwhile let’s explore the highlight sessions of the event.</p>

<table width="100%">
<tr><th class="subheader">Restless 60</th></tr>
<tr><td>This is a speed networking session of 60 minutes in which you would meet the professionals of different background, in speed.</td></tr>
<tr><th class="subheader">Online Thread Mentoring</th></tr>
<tr><td>This session is designed to help you pitch your queries. Introverts or extroverts we all have our queries right? So ask the mentors your cunning questions.</td></tr>
<tr><th class="subheader">1 Business 1 Promotion</th></tr>
<tr><td>This session is a thematic business promotion session in which you meet a business with its unique theme. Most mportantly, this session will be aired live on Youtube.</td></tr>
<tr><th class="subheader">Business Card Zone</th></tr>
<tr><td>This session is business card exhibition session where companies and professionals have their business cards showcased. Business cards have long been a powerful tool to connect. But has it lost its charm? Well, even if it has; let us re-invent its power.</td></tr>
<tr><th class="subheader">Pre-assigned Meeting</th></tr>
<tr><td>This session is where you meet who you want to. You need to inform us about your networking requirement prior to the event so that we’ll match you with the right people to network with. It is our customized networking session.</td></tr>
</table>

<h6 class="subheader">Are there Quotas?</h6>
<p>Yes, we have set quotas according to industry and profession. So we urge all interested participants to register for the event as early as possible.</p>
<h6 class="subheader">Why Quotas?</h6>
<p>Because we want you to learn from every industry. Every profession or industry is unique to its core so, discover the startling facts and information from each unique individuals and companies.</p>
<h6 class="subheader">How do I Register?</h6>
<p>You could register from our website <a href="http://www.clockb.com">www.clockb.com</a> for this event. Alternatively, you could either contact Clock b Business Innovation at 01-4426267/8 or drop in an e-mail at <a href="mailto:events@clockb.com">events@clockb.com</a>. Or you could also contact Mr.Bijendra Shah, at his mobile 9851213403, or drop him an e-mail at <a href="mailto:s.bijendra@clockb.com">s.bijendra@clockb.com</a>.</p>
<h6 class="subheader">How do I make the Payment?</h6>
<p>Once you have registered we would shortly contact you to confirm your attendance. Our team would visit you to collect the payment from your office address. Alternatively, you could also visit our office at 474 Aananda Bhairab Marg, Naxal-1, Kathmandu.</p>
<h6 class="subheader">For sponsoring our event</h6>
To know about sponsorship levels, price and benefits, you could either contact Clock b Business Innovation at 01-4426267/8 or drop in an e-mail at <a href="mailto:events@clockb.com">events@clockb.com</a>. Or you could also contact Mr. Bijendra Shah, at his mobile 9851213403, or drop him an e-mail at <a href="mailto:s.bijendra@clockb.com">s.bijendra@clockb.com</a>.