<div class="row" style="max-width:100%;">
<div class="columns large-4 medium-4 bg-left">
	<div class="right">
		<div data-magellan-expedition="fixed" class="custom-magellan hide-for-small-only" data-options="destination_threshold:50;offset_by_height: false;threshold:0;fixed_top:0;throttle_delay:30;active_class:custom-active">
			<!-- <div class="fixed large-4 columns"> -->
			<ul class="side-nav custom-side-nav">
				<li class="heading">Company Profile</li>
		    	<li data-magellan-arrival="our-company"><a href="#our-company">Our Company</a></li>
		    	<li data-magellan-arrival="culture-and-values"><a href="#culture-and-values">Culture &amp; Values</a></li>
		    	<li data-magellan-arrival="our-people"><a href="#our-people">Our People</a></li>
		    	<li class="divider" style="margin:20px 0px;"></li>
		    	<li class="heading">Why Clock b</li>
		    	<li data-magellan-arrival="our-perspective"><a href="#our-perspective">Our Perspective</a></li>
		    	<li data-magellan-arrival="experts-perspective"><a href="#experts-perspective">Experts' Perspective</a></li>
		    	<li data-magellan-arrival="clients-perspective"><a href="#clients-perspective">Clients' Perspective</a></li>
		  	</ul>
		  <!-- </div> -->
		</div>
	</div>
</div>

<div class="columns large-8 medium-8 bg-right">
	<div class="row" style="max-width:80%">
		<div class="columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>

</div>