<div class="panel clearfix">
	<a href="#" data-reveal-id="myModal-content" data-reveal-ajax="<%= new_user_feedback_from_user_path(@user) %>" class="button info tiny" style="width:100%">
		Send a Feedback
	</a>
</div>