<div class="row">
	<div class="columns">
		<h5>Networking Profiles</h5>
		<table width="100%">
			<thead>
				<tr>
					<th colspan="2">
						Search
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Networking Profiles</td>
					<td>Users</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
