	<%= best_in_place @user, :website, :url => registration_path(@user), class: 'left  radius contain-to-grid panel clearfix', :place_holder => "<i class='fi-add'></i>" << "+ Add Website", :ok_button => "Save", ok_button_class: "inline button tiny info right", :cancel_button => "Cancel", cancel_button_class: "button tiny alert inline left" %>

<div class="clearfix"></div>

	<%= best_in_place @user, :headline_message, :url => registration_path(@user), class: 'panel radius left contain-to-grid clearfix', :place_holder => '+ Add Headline Message', :ok_button => "Save", ok_button_class: "inline button tiny info right", :cancel_button => "Cancel", cancel_button_class: "button tiny alert inline left", :html_attrs => { } %>

