<div class="clearfix panel callout" style="padding:5px;">
	<%= best_in_place @user, :website, :url => registration_path(@user), class: 'left   contain-to-grid panel callout', :place_holder => "<i class='fi-add'></i>" << "Website", :ok_button => "Save", ok_button_class: "inline button tiny info right", :cancel_button => "Cancel", cancel_button_class: "button tiny secondary inline left", :activator => 'a.edit_website' %>
	<%= link_to "<i class='fi-pencil'></i>".html_safe, "#", class: "right edit_website", style: 'font-size: larger;padding:0 5px 0 5px;' %>

</div>

