<div class="clearfix">
	<% @user.logo_and_images.each do |req| %>
	<div class="panel clearfix callout" id='<%= "logo_and_image_id_#{req.id}" %>' style="">
		<%= image_tag req.content_url(:dashboard), class: 'th-no-hover lazyload' %>

		<%= link_to "<i class='fi-trash'></i>".html_safe, user_logo_and_image_path(@user, req), class: 'right', method: :delete, data: {confirm: 'Delete: Are your sure?'}, remote: true, style: 'font-size: larger;padding:0 5px 0 5px;' %>
	</div>
	<% end %>
</div>
<div class="panel">
	<a href="#" data-reveal-id="myModal-content" data-reveal-ajax="<%= new_user_logo_and_image_path(@user) %>" class="button info tiny" style="width:100%">
		Upload an Image
	</a>
</div>
