<a href="#" data-reveal-id="myModal-content" data-reveal-ajax="<%= new_request_path(_x: 'animated_video') %>" class="button tiny right" data-type="JSON">Request for Animated Video</a>
<%= @animated_video %>
<div class="flex-video"></div>