<% unless @search_freelancers_result.empty? %>
<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <li>
  	<table width="100%">
			<tr>
				<td colspan="2" style="text-align:center;">
					<%= image_tag "500.png", class: 'lazyload th-no-hover', style: "width:150px;" %>
				</td>
			</tr>
			
				<tr>
					<td class="subheader">Name:</td>
					<td><span class="left">John Doe</span><span class="right"><%= link_to "View Profile", "#" %></span></td>
				</tr>
				<tr>
					<td class="subheader">Field of Expertise:</td>
					<td>Consulting</td>
				</tr>
			
			<tr>
				<td>
					<%= link_to "Message Freelancer", message_freelancer_path, class: 'button info tiny', 
						data: {"reveal-id" => "myModal", "reveal-ajax" => true} %>
				</td>
				<td>
					<%= link_to "Book Webinar appointment", book_webinar_appointment_path, class: 'button info tiny', 
						data: {"reveal-id" => "myModal", "reveal-ajax" => true} %>
				</td>
			</tr>
		</table>
  </li>
</ul>
<% else %>
	<div class="panel">
		<h5>No results found</h5>
	</div>
<% end %>