/*
 * This is a manifest file that'll be compiled into application.css,  which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 *= require event_listing
 //= require foundation_and_overrides

 */
@import 'foundation-icons';

.media-icons {font-size:50px;}
ul.customgap li{
	margin-right:4px;
}
.top-bar-section .has-dropdown > a::after{
	margin-top: -9.5px;
	border-color: rgba(0, 0, 0, 0.4) transparent transparent;
}
.top-bar-section .dropdown{
	top:40px;
}
.top-bar-section ul li a{
  font-family: 'Ubunutu Condensed', sans-serif !important;
}
@import "foundation/functions";

hr{
  margin-top:rem-calc(30);
  margin-bottom:rem-calc(30);
  border-top: 1px solid #008CBA;
}
.margin-right-10{
	margin-right:10px;
}
@import "foundation/components/thumbs";
$include-html-media-classes: $include-html-classes;
.th-no-hover {
  @include thumb(
    // Box shadow to apply on hover
    // comma-separate variable: value,
    $box-shadow-hover: 0 0 1px 1px rgba($black,0.2)
  );
}
//Fluid Layout
div.full{
  width: 100%;
  height: 100%;
  display:table;
  opacity: 0;
}
div.full > .column-fluid {
  display: table-cell;
  float:left;
  height:100%;
}
div.full > .column-fixed{
  max-width: 62.5rem;
  float:left;
  display: table-cell;
  height: 100%;
}
.bg-left{
  background-color:#008CBA;
}
.bg-right{
  background-color:#E3E3E3;
}
//Custom Magellan
.custom-magellan{
background-color: #008CBA;
}
p{
  text-align:justify;
  color: #666;
}
body{
  font-family:  'Ubuntu Condensed', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif !important;
}
ul {
  font-family: 'Ubuntu Condensed', sans-serfi !important;
}