<%= month_calendar events: @events do |date, events| %>
 
  <div class="this-day">
  <%= date %>
</div>
  <% events.each do |event| %>
    <span data-tooltip aria-haspopup="true" class="has-tip" title="<%= event.form_params['name'] %>">
    		<%= link_to date, event_browse_path(event) %>
    </span>
  <% end %>
<% end %>