<article class="event">



        <div class="event-date">

          <p class="event-month">Sept</p>

          <p class="event-day">18</p>

        </div>



        <div class="event-desc">

          <h4 class="event-desc-header">Day in the Life of Foundation for Apps</h4>

          <!-- <p class="event-desc-detail"><span class="event-desc-time"></span>BDConf - Altlanta</p> -->

          <a href="#" class="rsvp button info small">View Details</a>

        </div>



      </article>



      <hr>



      <article class="event">



        <div class="event-date">

          <p class="event-month">Oct</p>

          <p class="event-day">21</p>

        </div>



        <div class="event-desc">

          <h4 class="event-desc-header">Day in the Life of Foundation for Apps</h4>

          <!-- <p class="event-desc-detail"><span class="event-desc-time"></span>BDConf - Washington, DC</p> -->

          <a href="#">View Details</a>

        </div>



      </article>
