<% @events.each do |event| %>
<article class="event">
        <div class="event-date">
          <p class="event-month"><%= event.start_date.strftime('%b') %></p>
          <p class="event-day"><%= event.start_date.strftime('%e') %></p>
        </div>
        <div class="event-desc">
          <h4 class="event-desc-header"><%= event.name %></h4>
          <!-- <p class="event-desc-detail"><span class="event-desc-time"></span>BDConf - Altlanta</p> -->
          <%= link_to 'View Details', event_path(event), class: 'rsvp button info small' %>
        </div>
</article>
      <hr>
      <% end %>
      
<% if @events.empty? %>
  <em>No events found</em>
<% end %>