<!-- Footer -->

 

  <footer class="row">

    <div class="large-12 columns">

      <hr />

      <div class="row">

        <div class="large-6 medium-6 columns">

          <p>&copy; Copyright message goes here</p>

        </div>

        <div class="large-6 medium-6 columns">

      <!--     
        <ul class="inline-list right">
          <li><a href='#'><i class="fi-social-facebook media-icons"></i></a></li>
          <li><a href='#'><i class="fi-social-linkedin media-icons"></i></a></li>
          <li><a href='#'><i class="fi-social-youtube media-icons"></i></a></li>
        </ul> -->

        </div>

      </div>

    </div>

  </footer>