<div class="row">

    <div class="large-12 columns">

      <div class="row">

        <div class="large-6 medium-6 columns">

          <h4>Webinar Info</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
              <div id="request-for-x">
          <a href="#" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="<%= new_request_path %>?_x=webinar" class="button">Request for Webinar</a>
          
          <div id="myModal-content" class="reveal-modal small" data-reveal></div>
    </div>

        </div>


        <div class="large-6 medium-6 columns">
          <h4>Contact Information</h4>
          <ul class="vcard">
        <li class="fn">Clock b Business Innovations</li>
        <li class="street-address">123 Colonial Ave.</li>
        <li class="locality">Caprica City</li>
        <li><span class="state">Caprica</span>, <span class="zip">12345</span></li>
        <li class="email"><a href="#">info@clockb.com</a></li>
        <li class="social-media">
          <a href="#"><i class="fi-social-facebook" style="font-size:30px;"></i></a>
        </li>
      </ul>
      <!--     
        <ul class="inline-list right">
          <li><a href='#'><i class="fi-social-facebook media-icons"></i></a></li>
          <li><a href='#'><i class="fi-social-linkedin media-icons"></i></a></li>
          <li><a href='#'><i class="fi-social-youtube media-icons"></i></a></li>
        </ul> -->

        </div>

      </div>

    </div><hr />
  </div>