<div class="row">

    <div class="large-12 columns">

      <div class="row">

        <div class="large-3 medium-3 columns">

          <h4>Webinar</h4>
          <p>&nbsp;</p>
              <div id="request-for-x">
          <a href="#" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="<%= new_request_path(_x: 'webinar', user: current_user) %>" class="button">Request for Webinar</a>
          
          <div id="myModal-content" class="reveal-modal small" data-reveal></div>
    </div>

        </div>

<div class="large-6 medium-6 columns">
  <div style="vertical-alignment:middle;">
        <!-- google map -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14128.800198638946!2d85.328349!3d27.711109!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x132662741329893f!2sClock+b+Business+Innovations!5e0!3m2!1sne!2snp!4v1457954365181" width="460" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
</div>
        <div class="large-3 medium-3 columns">
          <%= render partial: 'shared/contact_footer' %>
      <!--     
        <ul class="inline-list right">
          <li><a href='#'><i class="fi-social-facebook media-icons"></i></a></li>
          <li><a href='#'><i class="fi-social-linkedin media-icons"></i></a></li>
          <li><a href='#'><i class="fi-social-youtube media-icons"></i></a></li>
        </ul> -->

        </div>

      </div>

    </div><hr />
  </div>