<%# Rails flash messages styled for Zurb Foundation %>
<div class="row" style="margin-top:20px;">
	<div class="large-6 small-centered columns">
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div data-alert class="alert-box radius <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
      <%= content_tag :div, msg %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
<% end %>
</div>
</div>
