<div class="contain-to-grid #fixed">
<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false" data-no-turbolink>
  <ul class="title-area">
    <li class="name"></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

<section class="top-bar-section">
  <!-- Right Nav Section -->
  <!-- <div class="clearfix"> -->
  <ul class="right customgap">
    <% if user_signed_in? %>
    <li><%= link_to "Dashboard", dashboard_path, class: 'button success tiny radius' %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'button primary tiny radius' %></li>
    <% else %>
    <li><%= link_to "Sign in", new_user_session_path, method: :get, class: 'button primary tiny radius' %></li>
    <% end %>
  </ul>
<!-- </div> -->
  <!-- Left Nav Section -->
  <ul class="left">
    <%= render 'layouts/navigation_links' %>
  </ul>
</section>
</nav>
</div>