		<!-- Logo -->
	    <div class="row">
	      <div class="large-6 medium-6 small-12 columns">
	        <%= image_tag "clockb-logo-mini.jpg", class: 'lazyload' %>
	      </div>
	      <div class="large-6 medium-6 small-12 columns">
	      	<br />
	      	<h4>Contact Information</h4>
	      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	      	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	      	consequat.</p>
	      </div>
	      <hr />
	    </div>
<!-- 	    <hr />
	    <div class="row">

        <div class="large-12 medium-12 small-12 columns">

          <p>&copy; Copyright message goes here</p>

        </div>
    	</div> -->