<html>
  <body>
  	<table style="width:100%">
      <tr>
        <td style="width:50%">
          <%= image_tag 'logo.png', alt: 'Clock b Business Innovations' %>
        </td>
        <td style="width:50%">
          <ul class="vcard" style="list-style-type: none;">
            <li class="fn subheader" style="font-size:large;">Clock b Business Innovations</li>
            <li class="street-address">474 Aananda Bhairab Marg</li>
            <li class="locality">Naxal-1, Kathmandu, Nepal</li>
            <li class="phone">Tel: +977-01-4426 267/8</li>
            <li class="email">Email: <a href="mailto:info@clockb.com">info@clockb.com</a></li>
          </ul>
        </td>
      </tr>
    </table>
    <br>
    <%= yield %>
  </body>
</html>
